{% extends 'src/out_page_layout.html' %} 
{% load static %} 
{% block body %} 
<style>
    body {
        background-image: url('https://freedesignfile.com/upload/2018/04/Black-hexagon-carbon-fiber-background-vectors-01.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    
    .hi {
        opacity: 80%;
    }
    
    .text {
        color: lightseagreen;
        font:bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .form{
        color:white;
        font-weight: 1000;
    }
    #error{
        color :red;
        font-weight: 1000;
        background-color:white;

    }
    .namefild{
        color:red;
        font-weight:1000;
    }
</style>
{% if user.is_authenticated %}
  
  

<div class="back">

    <h1 style=" margin-top: 150px; text-align: center;" class="text">Upload Your Photo Heare and Keep Saife</h1>

    <form action="create_post/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="clas" style="width:200px; margin:0 auto; margin-top: 50px;">

            <div class="input-group">
             <p class="namefild">ImageName:</p> <input type="text" name="img_name"/>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="btn btn-info hi" name="image" />
                </div>
            </div>
            
            <button type="submit" style="width:200px;margin-top: 10px; " class="btn btn-primary hi">Upload</button>
          
        </div> 
    </form> 
     <div>
        
      
          
             <div class="card col-5 float-right">
              {% for post in post %}
                 <img class="card-img-top" hight="300px" width="300px" src="{{ post.image.url}}" alt="">
                 <div class="card-body">
                     <h4 class="card-title">{{post.post}}</h4>
                     <a onclick="return confirm('Are You Sure To Delete {{ post.post }}')" href="/delete/{{ post.id }} " class="btn btn-danger">Delete</a>
                      {% endfor %}
                 </div>
             </div>      
           

           </div>
</div>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{% else %}

<div class="body">
    <h1 style=" margin-top: 100px; text-align: center;" class="text">Registration From For Upload</h1>
    <form action="" method="POST">
    {% csrf_token %}
         <div class="clas" style="width:200px; margin:0 auto; margin-top: 20px;">

            <div class="input-group">
              <p class="form"> {{ form.username.label }}</p>
                {{ form.username }} 
               <p class="form"> {{ form.password1.label }}</p>
               {{ form.password1  }}
               <p class="form"> {{ form.password2.label }} </p>
                {{ form.password2 }}
               
             <button type="submit" style="width:200px;margin-top: 10px; " class="btn btn-primary hi">Register</button>
              
        

        </div>
    </form>
    <div id="error">  
        <p > {{ form.errors }}</p>
        <a href="/login/" style="color:Green; font-width:bold;" >{{success}}</a >
    </div>
    <p style=" margin-top: 100px; text-align: center;" class="text">Already Register ? <a href="/login">Login</p>
</div>


{% endif %} 
{% endblock %}


{% comment %} arifulislam6210


 {% endcomment %}